@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html { scroll-behavior: smooth; }

/* Material Icon styling */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1;
}

/* Subtle custom scrollbar to match luxury aesthetic */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #fcf9f2; /* background */
}
::-webkit-scrollbar-thumb {
    background: #d1c5b5; /* outline-variant */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7f7668; /* outline */
}

/* Hide scrollbar utility */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
