@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf9f2; /* background */
  color: #1c1c18; /* on-background */
}

.modal-shadow {
  box-shadow: 0px 10px 30px rgba(31, 59, 87, 0.05);
}
